body::-webkit-scrollbar {
    display: none;
  }

.container-fluid .row .col-2{
    padding-top: 1rem;
    color: whitesmoke;
    max-height: 90vh;
}

.black-bg{
    background-color: #040404;
    color: whitesmoke;
}

.gray-bg{
    background-color: #121212;
    color: whitesmoke;
}

.light-gray-bg{
    background-color: #282828;
    color: whitesmoke;
}

#menuOl{
    padding-top: 1rem;
    list-style: none;
    font-weight: 500;
    padding-left: 0px;
    
}

#menuOl li{
    padding-left: 20px;
}


#menu2{
    position: absolute;
    bottom: 0;
}

#menu2 hr{
    margin-top: 5px;
    margin-bottom: 5px;
    background: whitesmoke;
}
#content .card {
    border: 0;
    background-color: transparent;
    color: white;
    margin-top: 2rem !important;
}
#content p{
    font-size: 20px;
    font-weight: 700;
    max-width: 250px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}


#content .card label{
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 12px;
    
}

#content button{
    width: 130px;
    align-self: center;
    margin-top: 30px;
    background-color: #0de431;
    color: white;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 20px;
    margin-bottom: 10px;
}

#songs .card {
    margin-top: 2rem !important;
    background-color: transparent;
    color: white;
    border: 0;
}
#songs::-webkit-scrollbar {
    width: 1em;
}

#songs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#songs::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

#songs {
    margin-left: 50px;
    padding-right: 50px;
    height: 90vh;
    overflow-y: auto;
}

#songs p{
    padding: 0;
    margin: 0;
}
#songs label{
    font-size: 13px;
    margin: 0;
    color: whitesmoke;
    font-weight: 600;
    padding-bottom: 10px;
}

footer label{
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 15px;
}
footer button {
    background-color: transparent;
    border: 0;
    color: whitesmoke;
}
.progress-bar{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 4px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.progress-bar1{
    width: 30%;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 4px;
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 10px;
}

#icons{
    font-size: 15px;
}
#icons i{
    padding: 0.5rem !important;
}
#icons #play{
    font-size: 25px;
}
.container-fluid_login{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid_login .content_login{
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
}
.container-fluid_login button{
    border-radius: 20px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    height: 45px;
}

.hr_line{
    position: relative;
}

#or_word {
    position: absolute;
    top: 0;
    z-index: 2;
}

#b1{
    background-color: #3a61b3;
}

#b2{
    background-color: #000000;
}

#b1:hover{
    background-color: #3b5998;
}

#b2:hover{
    background-color: #333;
}

.container-fluid_login input{
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
}

#songs .card div:hover{
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
}
.selected{
    background-color: rgb(131, 131, 131);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.songNr{
    display: none;
}
.checked {
    color: #0de431;
}

@media only screen and (max-width: 600px) {
    #menu,
    .footer_hide {
      display: none !important;
    }
}
@media only screen and (max-width: 800px) {
    #menu{
        display: none !important;
    }
    #menu col-10 .row{
        width: 100vh;
    }
    #songs{
        margin-left: 0;
    }
}

